:root {
    --StudBack1: #FF5353;
    --StudBack2: #FFB253;
    --StudBack3: #FFEA53;
    --StudBack4: #5378FF;
    --StudBack5: #9453FF;
    --StudBack6: #60EBAB;
    --StudBack7: #42eef4;
    --StudBack8: #df42f4;
    --StudBack9: #b9f442;
    --PPGreen: #2bb721;
    --PPRed: #d63b2a;
}


/*----------------------------------------------------------------
	Add Admin formatting
-----------------------------------------------------------------*/

#admin-bg {
	background-color: rgb(26, 117, 255);
	background-image: none;
}

.beBold {
	font-weight: bold;
	font-family: "SofiaPro", sans-serif;
	text-align: center;
	font-size: 16px;
}

table {
	border: 1px;
	margin-top: 20px;
}

th, td {
	padding: 1px;
	text-align: center;
}

.RectangleBlck {
	position: relative;
	padding: 20px 20px 20px 20px;
	color: #fff;
	background: rgba(2, 2, 2, 0.4);
	margin-bottom: 50px;
	margin-top: 0px;
}

.row-first {
	height: 100%;
	overflow: hidden;
}

.harvey {
    position: relative;
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #ff0000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 7px;
}

.half-right {
    background-image: linear-gradient(right,#FFA500,#FFA500 50.0%,#fff 50.0%);
    background-image: -webkit-linear-gradient(right,#FFA500,#FFA500 50.0%,#fff 50.0%);
    background-image: -moz-linear-gradient(right,#FFA500,#FFA500 50.0%,#fff 50.0%);
    background-image: -o-linear-gradient(right,#FFA500,#FFA500 50.0%,#fff 50.0%);
    background-image: -ms-linear-gradient(right,#FFA500,#FFA500 50.0%,#fff 50.0%)
}



.upper-right {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #008000;
}


.black {
    background-color: #000
}

.white {
    background-color: #FFF
}

.admin_inputNeeded {
    font-size: 2 rem;
    font-color: #a1a2a3;
    font-style: italic;
}

.admin_gdGoal {
    font-size: 1.5rem;
    color: #2bb721;
}

.admin_bdGoal {
    font-size: 1.5rem;
    color: #d63b2a;
}

.admin_atndbtn {
    display: inline-block;
    border-width: 0;
    border-style: solid;
    border-radius: 10%;
    height: 1rem;
}

.admin_atndbtnF {
    display: block;
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-radius: 10%;
    height: 1rem;
}

.admin_atndbtnL {
    margin: 0;
    border-width: 0;
    border-style: solid;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    float: right;
    height: 1rem;
}

.admin_atndbtnM {
    margin: 0;
    border-width: 0;
    border-style: solid;
    border-radius: 0;
    float: right;
    height: 1rem;
    width: 100%;
}

.admin_atndbtnR {
    margin: 0;
    border-width: 0;
    border-style: solid;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    float: left;
    height: 1rem;
}
.admin_studentBtn{
    display: block;
    width: 200px;
}
.admin_dayBtn {
    width: 150px;
}
.admin_settingBtn {
    width: 300px;
}


#admin_atndbtnS1 {
    background-color: #FF5353;
}

#admin_atndbtnS2 {
    background-color: #FFB253;
}

#admin_atndbtnS3 {
    background-color: #FFEA53;
}

#admin_atndbtnS4 {
    background-color: #5378FF;
}

#admin_atndbtnS5 {
    background-color: #9453FF;
}

#admin_atndbtnS6 {
    background-color: #60EBAB;
}

#admin_atndbtnS7 {
    background-color: #42EEF4;
}

#admin_atndbtnS8 {
    background-color: #DF42F4;
}

#admin_atndbtnS9 {
    background-color: #B9F442;
}

#admin_atndbtnBlk {
    background: none;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

/*----------------------------------------------------------------
	Add Student formatting
-----------------------------------------------------------------*/

.Rectangle {
	width: 217.4px;
	height: 51.6px;
	border-radius: 5px;
	background-image: linear-gradient(to right, #4690ff, #41dcec);
}

.Rectangle-5 {
	width: 390px;
	height: 450px;
	border-radius: 2px;
	background-color: #fdfdfd;
}

.text-register {
	margin-top: 30px;
	margin-bottom: 10px;
	font-family: "SofiaPro", sans-serif;
	width: 144.7px;
	height: 43px;
	font-size: 36px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #2d2d2d;
	color: var(--black);
}

/*----------------------------------------------------------------
	D3.js formatting
-----------------------------------------------------------------*/
.chart div {
	background-color: white;
	text-align: right;
	padding: 3px;
	margin: 10px;
}

/*----------------------------------------------------------------
	Scrollbar
-----------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}