/*Custom color palette, call like so "background: var(--StudBack1);"*/
:root {
    --StudBack1: #FF5353;
    --StudBack2: #FFB253;
    --StudBack3: #FFEA53;
    --StudBack4: #5378FF;
    --StudBack5: #9453FF;
    --StudBack6: #60EBAB;
    --StudBack7: #FF5353;
    --PPGreen: #2bb721;
    --PPRed: #d63b2a;
}



body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center_elements {
    margin-right: auto;
    margin-left: auto;
}
/*All custom classes for the admin controller are below. Any custom classes 
    for admin should be prefixed with "Admin_"*/
.admin_container {
    border 0px solid var(--PPWhite);
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
}
.admin_gdGoal{
    color: var(--PPGreen);
}
.admin_bdGoal {
    color: var(--PPRed);
}

#admin_wkHeaders {
    display: block;
}

#admin_dyHeader {
    display: none;
    text-align: center;
}

#admin_wkLog {
    display: block;
}

#admin_dyLog {
    display: block;
}

#admin_logDisplayName {
}
