/*CSS code for the student Dashboard Page*/
body {
    background-image: url("Landing/mountain-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Open Sans';
}

.shared-head {
    padding-top: 20px;
    padding-left: 70px;
    margin-bottom: 50px;
    padding-right: 70px;
}

.head-btn {
    margin-top: 20px;
	margin-left: 10px;
    color: white;
}

.head-btn:hover {
    margin-top: 20px;
    color: white;
    text-decoration: underline;
}

.head-btn-circle {
    color: black;
    border-radius: 100%;
    padding: 10px;
    width: 65px;
    height: 65px;
    margin-left: 10px;
}

.student-card {
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin: 15px 5px 15px 5px;
}

.student-card:hover {
    box-shadow: 0 0 10px blue;
}

.student-card > img {
    margin-right: 15px;
    height: 50px;
    width: 50px;
}
.student-card img {
    margin-right: 15px;
}

.student-card span {
    color: white;
    font-size: 17px;
}

.student-card .emoticon {
    color: white;
    font-size: 12px;
}

.student-cards-row {

}

.emoticon a img {
    width: 50px;
    margin-right: 0px;
    padding: 0px 5px 0px 5px;
}

.student-card-add {
    padding-top: 10px;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
    height: 60px;
    vertical-align: middle;
}

.student-card-add span {
     color: black;
     font-size: 17px;
     text-decoration: underline;
}



.emoticon1 {
    display: none;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon1.active {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon2 {
    display: none;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon2.active {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon3 {
    display: none;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon3.active {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon4 {
    display: none;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon4.active {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon5 {
    display: none;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon5.active {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon6 {
    display: none;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon6.active {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon7 {
    display: none;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon7.active {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon8 {
    display: none;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon8.active {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon9 {
    display: none;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.emoticon9.active {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.add-student-card {
    padding: 10px 15px 10px 15px;
    text-align: center;
    margin: 15px 5px 15px 5px;
}

.add-student-btn {
    border-radius: 100%;
}

h3 {
	text-align: center;
}

.plsSignIn {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.student-card > p {
	float: right;
	margin-top: 15px;
	color: white;
}

#check-in-alert, #check-out-alert {
	padding: 10px 10px 4px 10px;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
}


/*----------------------------------------------------------------
	Puzzle formatting
-----------------------------------------------------------------*/

.puzzle-box {
	background-image: url(Landing/puzzle-map.png);
	background-size: 100%;
	overflow: hidden;
	margin-top: 100px;
	margin-bottom: 50px;
	padding-top: 170px;
	padding-bottom: 170px;
	color: #3671d1;
	font-weight: bold;
	text-align: center;
}

    .puzzle-box span {
        background: url("~\Content\Landing\css\puzzle-map.png");
        padding: 5px;
        border-radius: 3px;
    }

.puzzle-page {
	background-image: url(Landing/puzzle-map.png);
	background-size: 100% 100%;
	position: relative;
	padding-top: 250px;
	padding-bottom: 250px;
	margin-bottom: 100px;
	margin-top:50px;
	background-repeat: no-repeat;
	background-position: center center;
}