
@{
	ViewBag.Title = "Admin Dashboard";
}

<div class="container">
	<img src="~/Content/wireframes/Dashboard_Admin.png" class="img-responsive" alt="Admin page after login">
</div>
<p></br><span style="background-color:yellow;">Above: Wireframe --- Below: Work In Progress</span></span></p>

