
@{
	ViewBag.Title = "Admin Dashboard";
}
<div class"row" style="width:100%;">
    <table style="width:100%;">
        <tr style="width:100%;">
            <td style="width:20%;"><h1>Attendance</h1></td>
            <td style="width:40%;"></td>
            <td style="width:20%;">Week of 5/4/2018</td>
            <td style="width:20%;">Previous<button>&#8678;</button><span style="font:grey;"></span><button>&#8680;</button>Next</span></td>
        </tr>
    </table>
</div>
<div class="admin_container">
    <table style="width:100%;">
        <tr>
            <td style="width:15%; font-weight:bold;">Student</td>
            <td style="width:17%;">Monday<!--TODO Make these all linkable so that javascript can bring up a single day view--></td>
            <td style="width:17%;">Tuesday<!--TODO Make these all linkable so that javascript can bring up a single day view--></td>
            <td style="width:17%;">Wednesday<!--TODO Make these all linkable so that javascript can bring up a single day view--></td>
            <td style="width:17%;">Thursday<!--TODO Make these all linkable so that javascript can bring up a single day view--></td>
            <td style="width:17%;">Friday<!--TODO Make these all linkable so that javascript can bring up a single day view--></td>
        </tr>
    </table>
    <table style="width:100%;">
        <tr>
            <td style="width:15%;">
                <div class="row"></br>Student 1<!--TODO Should link to student individual report--></br></div>
                <div class="row"></br>Student 2<!--TODO Should link to student individual report--></br></div>
                <div class="row"></br>Student 3<!--TODO Should link to student individual report--></br></div>
                <div class="row"></br>Student 4<!--TODO Should link to student individual report--></br></div>
                <div class="row"></br>Student 5<!--TODO Should link to student individual report--></br></div>
                <div class="row"></br>Student 6<!--TODO Should link to student individual report--></br></div>
                <div class="row"></br>Student 7<!--TODO Should link to student individual report--></br></div>
                <div class="row"></br>Student 8<!--TODO Should link to student individual report--></br></div>
            </td>
            <td style="width:85%;">Put an image of the week report here.</td>
        </tr>
    </table>
</div>
<div class="admin_container">
    @Html.ActionLink("Custom Report", "CustomReport", "Admin", null, new { @class = "btn btn-default" })
</div>
    <p></br><span style="background-color:yellow;">Below: Wireframe --- Above: Work In Progress</span></span></p>
    <div class="container">
        <img src="~/Content/wireframes/Dashboard_Admin.png" class="img-responsive" alt="Admin page after login">
    </div>


