@{
	ViewBag.Title = "Class Roster";
}

<link href="~/Content/RosterTable.css" rel="stylesheet" type="text/css" />

<section class="home-section home-parallax home-fade home-full-height bg-dark-30" data-background="../../Content/Landing/mountainBG.JPG">
    <div class="titan-caption">
        <div class="caption-content">
            <div class"row" style="width:100%;">
				<table style="width:100%;">
					<tr style="width:100%;">
						<td><h1 align="left">Class Roster</h1></td>


						<table align="left">
							<tr>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>ID</th>
								<th>Status</th>
							</tr>
					</tr>
					<tr>
						<td>Alvin</td>
						<td>Hopkins</td>
						<td>123456</td>
						<td>Active</td>
					</tr>
					<tr>
						<td>Mina</td>
						<td>Clark</td>
						<td>124356</td>
						<td>Active</td>
					</tr>
					<tr>
						<td>Verna</td>
						<td>Potter</td>
						<td>345126</td>
						<td>Active</td>
					</tr>
					<tr>
						<td>Gabriel</td>
						<td>Klein</td>
						<td>987654</td>
						<td>Active</td>
					</tr>
					<tr>
						<td>Tamara</td>
						<td>Kochubey</td>
						<td>271449</td>
						<td>Active</td>
					</tr>
					<tr>
						<td>Harry</td>
						<td>Reid</td>
						<td>271449</td>
						<td>Active</td>
					</tr>

				</table>

</section>



    <!-- Footer bar-->
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-8 col-lg-12">
                    <div class="callout-text font-alt">
                        <p style="margin-bottom: 0px;" class="alignleft">2018 Team Powerpuff</p>
                        <p style="margin-bottom: 0px;" class="alignright">Middle College High School</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
