@{
	ViewBag.Title = "Class Roster";
}

<link href="~/Content/RosterTable.css" rel="stylesheet" type="text/css" />

<section class="bg-dark-30 showcase-page-header module parallax-bg" data-background="../../Content/Landing/mountainBG.jpg">
 
    <td style="width:20%;"><h1>Class Roster</h1></td>
    
    <table align="left">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>ID</th>
                <th>Status</th>
            </tr>
        </thead>
            <tr>
                <td>Marco</td>
                <td>Polo</td>
                <td>123456</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Carlos</td>
                <td>Boozer</td>
                <td>124356</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Bianca</td>
                <td>Blaco</td>
                <td>345126</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Jamie</td>
                <td>Deng</td>
                <td>987654</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Taj</td>
                <td>Gibson</td>
                <td>271449</td>
                <td>Active</td>
            </tr>
   
    </table>



            <!-- Footer bar-->
            <section class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-8 col-lg-12">
                            <div class="callout-text font-alt">
                                <p style="margin-bottom: 0px;" class="alignleft">2018 Team Powerpuff</p>
                                <p style="margin-bottom: 0px;" class="alignright">Middle College High School</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
