
@{
    ViewBag.Title = "Class Roster";
}
<div class="container">
    <img src="~/Content/wireframes/wk6-Admin_Settings.png" class="img-responsive" alt="Admin Change Settings">
</div>
<p></br><span style="background-color:yellow;">Above: Wireframe --- Below: Work In Progress</span></span></p>

