@{
	ViewBag.Title = "Class Roster";
}

<head>

</head>

<div class="col-md-10 col-md-offset-1 RectangleBlck">

	<h3>Student Roster</h3>

	<div id="wrapper">
		<table align='center' cellspacing=50 cellpadding=10 id="data_table" border=1">

			<tr>
				<td class="beBold">First Name</td>
				<td class="beBold">Last Name</tdclass="beBold">
				<td class="beBold">Status</td>
			</tr>

			<tr id="row1">
				<td id="fname_row1">Seth</td>
				<td id="lname_row1">Berry</td>
				<td id="status_row1">Active</td>
				<td>
					<input type="button" id="edit_button1" value="Edit" class="section-scroll btn btn-border-w btn-round" onclick="edit_row('1')">
					<input type="button" id="save_button1" value="Save" class="section-scroll btn btn-border-w btn-round" onclick="save_row('1')">
					<input type="button" value="Delete" class="section-scroll btn btn-border-w btn-round" onclick="delete_row('1')">
				</td>
			</tr>

			<tr id="row2">
				<td id="fname_row2">Bianca</td>
				<td id="lname_row2">Blanco</td>
				<td id="status_row2">Active</td>
				<td>
					<input type="button" id="edit_button2" value="Edit" class="section-scroll btn btn-border-w btn-round" onclick="edit_row('2')">
					<input type="button" id="save_button2" value="Save" class="section-scroll btn btn-border-w btn-round" onclick="save_row('2')">
					<input type="button" value="Delete" class="section-scroll btn btn-border-w btn-round" onclick="delete_row('2')">
				</td>
			</tr>

			<tr id="row3">
				<td id="fname_row3">Mina</td>
				<td id="lname_row3">Chen</td>
				<td id="status_row3">Active</td>
				<td>
					<input type="button" id="edit_button3" value="Edit" class="section-scroll btn btn-border-w btn-round" onclick="edit_row('3')">
					<input type="button" id="save_button3" value="Save" class="section-scroll btn btn-border-w btn-round" onclick="save_row('3')">
					<input type="button" value="Delete" class="section-scroll btn btn-border-w btn-round" onclick="delete_row('3')">
				</td>
			</tr>

			<tr id="row4">
				<td id="fname_row4">Rahul</td>
				<td id="lname_row4">Singh</td>
				<td id="status_row4">Paused</td>
				<td>
					<input type="button" id="edit_button4" value="Edit" class="section-scroll btn btn-border-w btn-round" onclick="edit_row('4')">
					<input type="button" id="save_button4" value="Save" class="section-scroll btn btn-border-w btn-round" onclick="save_row('4')">
					<input type="button" value="Delete" class="section-scroll btn btn-border-w btn-round" onclick="delete_row('4')">
				</td>
			</tr>

			<tr id="row5">
				<td id="fname_row5">Alvin</td>
				<td id="lname_row5">Hopkins</td>
				<td id="status_row5">Active</td>
				<td>
					<input type="button" id="edit_button5" value="Edit" class="section-scroll btn btn-border-w btn-round" onclick="edit_row('5')">
					<input type="button" id="save_button5" value="Save" class="section-scroll btn btn-border-w btn-round" onclick="save_row('5')">
					<input type="button" value="Delete" class="section-scroll btn btn-border-w btn-round" onclick="delete_row('5')">
				</td>
			</tr>

			<tr id="row6">
				<td id="fname_row6">Gabriel</td>
				<td id="lname_row6">Klein</td>
				<td id="status_row6">Active</td>
				<td>
					<input type="button" id="edit_button6" value="Edit" class="section-scroll btn btn-border-w btn-round" onclick="edit_row('6')">
					<input type="button" id="save_button6" value="Save" class="section-scroll btn btn-border-w btn-round" onclick="save_row('6')">
					<input type="button" value="Delete" class="section-scroll btn btn-border-w btn-round" onclick="delete_row('6')">
				</td>
			</tr>

			<tr id="row7">
				<td id="fname_row7">Tamera</td>
				<td id="lname_row7">Kochubey</td>
				<td id="status_row7">Active</td>
				<td>
					<input type="button" id="edit_button7" value="Edit" class="section-scroll btn btn-border-w btn-round" onclick="edit_row('7')">
					<input type="button" id="save_button7" value="Save" class="section-scroll btn btn-border-w btn-round" onclick="save_row('7')">
					<input type="button" value="Delete" class="section-scroll btn btn-border-w btn-round" onclick="delete_row('7')">
				</td>
			</tr>

			<tr id="row8">
				<td id="fname_row8">Verna</td>
				<td id="lname_row8">Potter</td>
				<td id="status_row8">Active</td>
				<td>
					<input type="button" id="edit_button8" value="Edit" class="section-scroll btn btn-border-w btn-round" onclick="edit_row('8')">
					<input type="button" id="save_button8" value="Save" class="section-scroll btn btn-border-w btn-round" onclick="save_row('8')">
					<input type="button" value="Delete" class="section-scroll btn btn-border-w btn-round" onclick="delete_row('8')">
				</td>
			</tr>

			<tr id="row9">
				<td id="fname_row9">Harry</td>
				<td id="lname_row9">Reid</td>
				<td id="status_row9">Active</td>
				<td>
					<input type="button" id="edit_button9" value="Edit" class="section-scroll btn btn-border-w btn-round" onclick="edit_row('9')">
					<input type="button" id="save_button9" value="Save" class="section-scroll btn btn-border-w btn-round" onclick="save_row('9')">
					<input type="button" value="Delete" class="section-scroll btn btn-border-w btn-round" onclick="delete_row('9')">
				</td>
			</tr>

			<tr id="row10">
				<td id="fname_row10">Nancy</td>
				<td id="lname_row10">Thomas</td>
				<td id="status_row10">Active</td>
				<td>
					<input type="button" id="edit_button10" value="Edit" class="section-scroll btn btn-border-w btn-round" onclick="edit_row('10')">
					<input type="button" id="save_button10" value="Save" class="section-scroll btn btn-border-w btn-round" onclick="save_row('10')">
					<input type="button" value="Delete" class="section-scroll btn btn-border-w btn-round" onclick="delete_row('10')">
				</td>
			</tr>

			<tr>
				<td><input class="form-control" type="text" placeholder="First Name" id="new_fname"></td>
				<td><input class="form-control" type="text" placeholder="Last Name" id="new_lname"></td>
				<td><input class="form-control" type="text" placeholder="Status" id="new_status"></td>
				<td><input type="button" class="btn btn-block btn-round btn-b" onclick="add_row();" value="Add Row"></td>
			</tr>

		</table>
	</div>
</div>


