@{
	ViewBag.Title = "Community Hours";
}

<div class="col-md-10 col-md-offset-1 RectangleBlck">
    <div class="admin_container alignright">
        @Html.ActionLink("Settings", "ClassSettings", "Admin", null, new { @class = "btn btn-primary" })
    </div>
    <div class"row">
        <h2>Community Hours</h2>
    </div>
    <div class="admin_container">
        <table cellspacing="50" style="width:100%;">
            <tr>
                <td style="width=20%"></td>
                <td style="width=80%">
                    <div id="admin_wkHeaders">
                        <h4>Attendance Expectation</h4>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:20%;">
                    <table cellspacing="50" style="width:100%;">
                        <tr><td height="20" style="margin:5px; padding: 5px;"><button class="btn btn-border-w btn-round admin_studentBtn">Seth Berry</button></tdstyle="width:50%;"></tr>
                        <tr><td height="20" style="margin:5px; padding: 5px;"><button class="btn btn-border-w btn-round admin_studentBtn">Bianca Blanco</button></td></tr>
                        <tr><td height="20" style="margin:5px; padding: 5px;"><button class="btn btn-border-w btn-round admin_studentBtn">Mina Chen</button></td></tr>
                        <tr><td height="20" style="margin:5px; padding: 5px;"><button class="btn btn-border-w btn-round admin_studentBtn">Alvin Hopkins</button></td></tr>
                        <tr><td height="20" style="margin:5px; padding: 5px;"><button class="btn btn-border-w btn-round admin_studentBtn">Gabriel Klein</button></td></tr>
                        <tr><td height="20" style="margin:5px; padding: 5px;">@Html.ActionLink("Tamara Kochubey", "StudentReport", "Profile", null, new { @class = "btn btn-border-w btn-round admin_studentBtn" })</td></tr>
                        <tr><td height="20" style="margin:5px; padding: 5px;"><button class="btn btn-border-w btn-round admin_studentBtn">Verna Potter</button></td></tr>
                        <tr><td height="20" style="margin:5px; padding: 5px;"><button class="btn btn-border-w btn-round admin_studentBtn">Harry Reid</button></td></tr>
                        <tr><td height="20" style="margin:5px; padding: 5px;"><button class="btn btn-border-w btn-round admin_studentBtn">Nancy Thomas</button></td></tr>
                    </table>
                </td>
                <td style="width:80%;">
                    <div class="admin_container">
                        <table cellspacing="50" style="width:100%;">
                            <tr>
                                <td class="rangeCell">
                                    <div class="rangeDiv">
                                        <button class="admin_commBtn" id="admin_atndbtnS1" style="width:80%;"></button>&nbsp;80%
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="rangeCell">
                                    <div class="rangeDiv">
                                        <button class="admin_commBtn" id="admin_atndbtnS2" style="width:80%;"></button>&nbsp;80%
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="rangeCell">
                                    <div class="rangeDiv">
                                        <button class="admin_commBtn" id="admin_atndbtnS3" style="width:60%;"></button>&nbsp;60%
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="rangeCell">
                                    <div class="rangeDiv">
                                        <button class="admin_commBtn" id="admin_atndbtnS4" style="width:80%;"></button>&nbsp;80%
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="rangeCell">
                                    <div class="rangeDiv">
                                        <button class="admin_commBtn" id="admin_atndbtnS5" style="width:95%;"></button>&nbsp;95%
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="rangeCell">
                                    <div class="rangeDiv">
                                        <button class="admin_commBtn" id="admin_atndbtnS6" style="width:80%;"></button>&nbsp;80%
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="rangeCell">
                                    <div class="rangeDiv">
                                        <button class="admin_commBtn" id="admin_atndbtnS7" style="width:50%;"></button>&nbsp;50%
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="rangeCell">
                                    <div class="rangeDiv">
                                        <button class="admin_commBtn" id="admin_atndbtnS8" style="width:50%;"></button>&nbsp;50%
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="rangeCell">
                                    <div class="rangeDiv">
                                        <button class="admin_commBtn" id="admin_atndbtnS9" style="width:60%;"></button>&nbsp;60%
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </td>
            </tr>
        </table>
    </div>
</div>

