
@{
	ViewBag.Title = "Custom Reports";
}
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Emotion Tracker', 'Frequency %'],
                ['Very Sad', 24],
                ['Sad', 11],
                ['Indifferent', 45],
                ['Happy', 10],
                ['Very Happy', 10]
            ]);

            var options = {
                title: 'Class Emotion Tracker',
                backgroundColor: 'transparent'


            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>  
</head>

<div class="col-md-10 col-md-offset-1 RectangleBlck">
    <div class="admin_container alignright">
        @Html.ActionLink("New Report", "CustomReport", "Admin", null, new { @class = "btn btn-primary" })
    </div>
    <div class"row">
        <h2>Custom Reports</h2>
    </div>
    <div class="admin_container">
        <table cellspacing="50" style="width:100%;">
            <tr>
                <td style="width=15%">Date Range</td>
                <td style="width=85%">Start: 4/1/2018&nbsp;&nbsp;End: 5/31/2018</td>
            </tr>
        </table>

        <table cellspacing="50" style="width:100%;">
            <tr style="font-weight:bold">
                <td style="width:9%;">First Name</td>
                <td style="width:10%;">Last Name</td>
                <td style="width:7%;">Status</td>
                <td style="width:7%;">Attendance Rate</td>
                <td style="width:5%;">Hours Total</td>
                <td style="width:7%;">Avg Hours per Week</td>
                <td style="width:7%;">Goal</td>
                <td style="width:5%;">Goal Achieved</td>
                <td style="width:7%;">Avg Check In</td>
                <td style="width:8%;">Avg Check Out</td>
             
            </tr>
            <tr>
                <td style="width:9%;">Seth</td>
                <td style="width:10%;">Berry</td>
                <td style="width:7%;">Active</td>
                <td style="width:7%;">73.7%</td>
                <td style="width:5%;">364</td>
                <td style="width:7%;">23.9</td>
                <td style="width:7%;">80%</td>
                <td style="width:5%;"><div class="admin_bdGoal">&#10008;</div></td>
                <td style="width:7%;">9:03am</td>
                <td style="width:8%;">4:21pm</td>
             
            </tr>
            <tr>
                <td style="width:9%;">Bianca</td>
                <td style="width:10%;">Blanco</td>
                <td style="width:7%;">Active</td>
                <td style="width:7%;">67.4%</td>
                <td style="width:5%;">253</td>
                <td style="width:7%;">21.9</td>
                <td style="width:7%;">80%</td>
                <td style="width:5%;"><div class="admin_bdGoal">&#10008;</div></td>
                <td style="width:7%;">9:00am</td>
                <td style="width:8%;">4:15pm</td>
              
            </tr>
            <tr>
                <td style="width:9%;">Mina</td>
                <td style="width:10%;">Chen</td>
                <td style="width:7%;">Active</td>
                <td style="width:7%;">55.7%</td>
                <td style="width:5%;">205</td>
                <td style="width:7%;">18.1</td>
                <td style="width:7%;">60%</td>
                <td style="width:5%;"><div class="admin_bdGoal">&#10008;</div></td>
                <td style="width:7%;">9:23am</td>
                <td style="width:8%;">3:55pm</td>
               
            </tr>

            <tr>
                <td style="width:9%;">Alvin</td>
                <td style="width:10%;">Hopkins</td>
                <td style="width:7%;">Active</td>
                <td style="width:7%;">86.4%</td>
                <td style="width:5%;">423</td>
                <td style="width:7%;">28.1</td>
                <td style="width:7%;">80%</td>
                <td style="width:5%;"><div class="admin_gdGoal">&#10004;</div></td>
                <td style="width:7%;">9:04am</td>
                <td style="width:8%;">4:13pm</td>
              
            </tr>
            <tr>
                <td style="width:9%;">Gabriel</td>
                <td style="width:10%;">Klein</td>
                <td style="width:7%;">Active</td>
                <td style="width:7%;">96.4%</td>
                <td style="width:5%;">368</td>
                <td style="width:7%;">31.3</td>
                <td style="width:7%;">95%</td>
                <td style="width:5%;"><div class="admin_gdGoal">&#10004;</div></td>
                <td style="width:7%;">8:57am</td>
                <td style="width:8%;">4:27pm</td>
              
            </tr>
            <tr>
                <td style="width:9%;">Tamera</td>
                <td style="width:10%;">Kochubey</td>
                <td style="width:7%;">Active</td>
                <td style="width:7%;">82.4%</td>
                <td style="width:5%;">412</td>
                <td style="width:7%;">26.78</td>
                <td style="width:7%;">80%</td>
                <td style="width:5%;"><div class="admin_gdGoal">&#10004;</div></td>
                <td style="width:7%;">9:02am</td>
                <td style="width:8%;">4:23pm</td>
          
            </tr>
            <tr>
                <td style="width:9%;">Verna</td>
                <td style="width:10%;">Potter</td>
                <td style="width:7%;">Active</td>
                <td style="width:7%;">47.3%</td>
                <td style="width:5%;">130</td>
                <td style="width:7%;">15.4</td>
                <td style="width:7%;">50%</td>
                <td style="width:5%;"><div class="admin_bdGoal">&#10008;</div></td>
                <td style="width:7%;">9:56am</td>
                <td style="width:8%;">3:32pm</td>

            </tr>
            <tr>
                <td style="width:9%;">Harry</td>
                <td style="width:10%;">Reid</td>
                <td style="width:7%;">Active</td>
                <td style="width:7%;">63.9%</td>
                <td style="width:5%;">279</td>
                <td style="width:7%;">20.8</td>
                <td style="width:7%;">50%</td>
                <td style="width:5%;"><div class="admin_gdGoal">&#10004;</div></td>
                <td style="width:7%;">9:38am</td>
                <td style="width:8%;">3:42pm</td>

            </tr>
   
            <tr>
                <td style="width:9%;">Nancy</td>
                <td style="width:10%;">Thomas</td>
                <td style="width:7%;">Active</td>
                <td style="width:7%;">54.1%</td>
                <td style="width:5%;">386</td>
                <td style="width:7%;">17.6</td>
                <td style="width:7%;">60%</td>
                <td style="width:5%;"><div class="admin_bdGoal">&#10008;</div></td>
                <td style="width:7%;">9:16am</td>
                <td style="width:8%;">2:58pm</td>

            </tr>
   
        </table>

        <div id="piechart" style="width:900px; height: 500px;"></div>

        <div class="row align-center">
            <button class="section-scroll btn btn-g btn-round" value="Print" onclick="window.print();return false;" />Print</button>
        </div>
    </div>
</div>

