@{
	ViewBag.Title = "Build Custom Reports";
}

<div class="col-md-10 col-md-offset-1 RectangleBlck">
    <div class"row">
        <h2>Custom Reports</h2>
    </div>
    <div class="admin_container">
        <table cellspacing="50" style="width:100%;">
            <tr>
                <td style="width=15%">Date Range</td>
                <td style="width=85%">
                    <label for="from">From</label><input class="admin_field" type="text" id="from" name="from">
                    <label for="to">to</label><input class="admin_field" type="text" id="to" name="to">@Html.ActionLink("Submit", "CustomReportResult", "Admin", null, new { @class = "btn btn-border-w btn-round" })
                </td>
            </tr>
            <tr>
                <td style="width=15%"></td>
                <td style="width=85%"><div class="admin_inputNeeded">Please select date range</div></td>
            </tr>
            <tr>
                <td style="width=15%"></td>
                <td style="width=85%"></td>
            </tr>
            <tr>
                <td style="width=15%"></td>
                <td style="width=85%"></td>
            </tr>
            <tr>
                <td style="width=15%"></td>
                <td style="width=85%"></td>
            </tr>
            <tr>
                <td style="width=15%"></td>
                <td style="width=85%"></td>
            </tr>
            <tr>
                <td style="width=15%"></td>
                <td style="width=85%"></td>
            </tr>
            <tr>
                <td style="width=15%"></td>
                <td style="width=85%"></td>
            </tr>
            <tr>
                <td style="width=15%"></td>
                <td style="width=85%"></td>
            </tr>
            <tr>
                <td style="width=15%"></td>
                <td style="width=85%"></td>
            </tr>
        </table>
    </div>
</div>
</section>



