
@{
	ViewBag.Title = "Build Custom Reports";
}

<!-- Custom metrics-->
<div class="container">
	<div class="row align-center">
		<div class="col-sm-8 col-sm-offset-2">
			<h2 class="module-title font-alt">Custom Metrics</h2>
			<div class="chart"></div>
		</div>
	</div>
</div>

<!-- Footer bar-->
<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-8 col-lg-12">
				<div class="callout-text font-alt">
					<p style="margin-bottom: 0px;" class="alignleft">2018 Team Powerpuff</p>
					<p style="margin-bottom: 0px;" class="alignright">Middle College High School</p>
				</div>
			</div>
		</div>
	</div>
</section>
