
@{
	ViewBag.Title = "Build Custom Reports";
}
<head>
    <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
    </script>
</head>

<link href="~/Content/harvey.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/backgroundcolor.css" rel="stylesheet" type="text/css" />

</style>


<section class="bg-dark-30 showcase-page-header module parallax-bg">
    <div class="titan-caption">
        <div class="caption-content">
            <div class="admin_container" style="float:right;">
                @Html.ActionLink("Admin Dashboard", "AdminDashboard", "Admin", null, new { @class = "btn btn-primary" })
            </div>
            <div class"row" style="width:100%;">
                <table style="width:100%;">
                    <tr style="width:100%;">
                        <td style="width:20%;"><h1>Custom Reports</h1></td>
                        <td style="width:80%;"></td>
                    </tr>
                </table>
            </div>
            <div class="admin_container">
                <table cellspacing="50" style="width:100%;">
                    <tr>
                        <td style="width=15%">Date Range</td>
                        <td style="width=85%">Start: <input type="text" id="datepicker">End: <input type="text" id="datepicker">@Html.ActionLink("Submit", "CustomReportResult", "Admin", null, new { @class = "btn btn-border-w btn-round" })</td>
                    </tr>
                    <tr>
                        <td style="width=15%"></td>
                        <td style="width=85%"><div class="admin_inputNeeded">Please select date range</div></td>
                    </tr>
                    <tr>
                        <td style="width=15%"></td>
                        <td style="width=85%"></td>
                    </tr>
                    <tr>
                        <td style="width=15%"></td>
                        <td style="width=85%"></td>
                    </tr>
                    <tr>
                        <td style="width=15%"></td>
                        <td style="width=85%"></td>
                    </tr>
                    <tr>
                        <td style="width=15%"></td>
                        <td style="width=85%"></td>
                    </tr>
                    <tr>
                        <td style="width=15%"></td>
                        <td style="width=85%"></td>
                    </tr>
                    <tr>
                        <td style="width=15%"></td>
                        <td style="width=85%"></td>
                    </tr>
                    <tr>
                        <td style="width=15%"></td>
                        <td style="width=85%"></td>
                    </tr>
                    <tr>
                        <td style="width=15%"></td>
                        <td style="width=85%"></td>
                    </tr>
                </table>
            </div>
        </div>
</section>



<!-- Footer bar-->
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-12">
                <div class="callout-text font-alt">
                    <p style="margin-bottom: 0px;" class="alignleft">2018 Team Powerpuff</p>
                    <p style="margin-bottom: 0px;" class="alignright">Middle College High School</p>
                </div>
            </div>
        </div>
    </div>
</section>
