@{
	ViewBag.Title = "Custom Individual Report";
}



		<!--Charts-->
<div class="col-md-10 col-md-offset-1 RectangleWhite">
    <h2>CUSTOM REPORT: 5/21/2018 - 6/1/2018</h2>
    <div class="admin_container alignright">
        @Html.ActionLink("New Report", "CustomReport", "Admin", null, new { @class = "btn btn-primary" })
    </div>

    <div class="row align-center">
        <div class="col-md-8 col-md-offset-2">
            <img class="profileimg" src="~/Content/AvatarIcons/swan-icon.png" alt="SWAN">

            <h3 class="features-title font-alt">Student Name: Tamara</h3>
            <h3 class="features-title font-alt">Animal guide: swan</h3>
            <h3 class="features-title font-alt">ID:w2714490</h3>
        </div>
    </div>

    <div id="donutchart" style="width:900px; height: 500px;"></div>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
    <div id="piechart" style="width: 900px; height: 500px;"></div>


    <div class="row align-center">
        <button class="section-scroll btn btn-g btn-round" value="Print" onclick="window.print();return false;" />Print</button>
    </div>

</div>

