
@{
	ViewBag.Title = "School Calendar";
}

<link href="~/Content/harvey.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/backgroundcolor.css" rel="stylesheet" type="text/css" />

</style>
<script>
    $(".js-example-tags").select2({
        tags: true
    });</script>


<section class="bg-dark-30 showcase-page-header module parallax-bg">
    <div class="titan-caption">
        <div class="caption-content">
            <div class="admin_container" style="float:right;">
                @Html.ActionLink("Settings", "ClassSettings", "Admin", null, new { @class = "btn btn-primary" })
            </div>
            <div class"row" style="width:100%;">
                <table style="width:100%;">
                    <tr style="width:100%;">
                        <td style="width:20%;"><h1>School Calendar</h1></td>
                        <td style="width:80%;"></td>
                    </tr>
                </table>
            </div>
            <div class="admin_container">
                <table cellspacing="50" style="width:100%;">
                    <tr>
                        <td style="width=15%">Expected Start Times</td>
                        <td style="width=85%">9:00am 1:00pm</td>
                    </tr>
                    <tr>
                        <td style="width=15%">Auto-Log Out Times</td>
                        <td style="width=85%"><!--12:00pm 4:30pm
                            this doesnt work was trying to use this: https://select2.org/tagging-->
                                <select class="form-control" multiple="multiple">
                                <option>7:30am</option>
                                <option>7:45am</option>
                                <option>8:00am</option>
                                <option>8:15am</option>
                                <option>8:30am</option>
                                <option>8:45am</option>
                                <optio>9:00am</option>
                                <option>9:15am</option>
                                <option>9:30am</option>
                                <option>9:45am</option>
                                <option>10:00am</option>
                                <option>10:15am</option>
                                <option>10:30am</option>
                                <option>10:45am</option>
                                <option>11:00am</option>
                                <option>11:15am</option>
                                <option>11:30am</option>
                                <option>11:45am</option>
                                <optionn selected="selected">12:00pm</optionn>
                                <option>12:15pm</option>
                                <option>12:30pm</option>
                                <option>12:45pm</option>
                                <option>1:00pm</option>
                                <option>1:15pm</option>
                                <option>1:30pm</option>
                                <option>1:45pm</option>
                                <option>2:00pm</option>
                                <option>2:15pm</option>
                                <option>2:30pm</option>
                                <option>2:45pm</option>
                                <option>3:00pm</option>
                                <option>3:15pm</option>
                                <option>3:30pm</option>
                                <option>3:45pm</option>
                                <option>4:00pm</option>
                                <option>4:15pm</option>
                                <optionn selected="selected">4:30pm</optionn>
                                <option>4:45pm</option>
                                <option>5:00pm</option>
                                <option>5:15pm</option>
                                <option>5:30pm</option>
                                <option>5:45pm</option>
                                <option>6:00pm</option>
                            </select>
                                
                                
                            
                        </td>
                    </tr>
                    <tr>
                        <td style="width=15%">Class Roster</td>
                        <td style="width=85%">
                            <div class="admin_container" style="float:left;">
                                @Html.ActionLink("Manage Roster", "ClassRoster", "Admin", null, new { @class = "btn btn-primary" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width=15%">Community Hours</td>
                        <td style="width=85%">
                            <div class="admin_container" style="float:left;">
                                @Html.ActionLink("Adjust Student Goals", "ClassRoster", "Admin", null, new { @class = "btn btn-primary" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width=15%">School Calendar</td>
                        <td style="width=85%">
                            <div class="admin_container" style="float:left;">
                                @Html.ActionLink("Set Days Off", "ClassRoster", "Admin", null, new { @class = "btn btn-primary" })
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
</section>



<!-- Footer bar-->
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-12">
                <div class="callout-text font-alt">
                    <p style="margin-bottom: 0px;" class="alignleft">2018 Team Powerpuff</p>
                    <p style="margin-bottom: 0px;" class="alignright">Middle College High School</p>
                </div>
            </div>
        </div>
    </div>
</section>
