
@{
	ViewBag.Title = "Student Change Log";
}

<div class="col-md-10 col-md-offset-1 RectangleBlck">
    <div class="admin_container alignright">
        @Html.ActionLink("Return", "AdminDashboardm", "Admin", null, new { @class = "btn btn-primary" })
    </div>
    <div class="row"><h2>&nbsp;Verna Potter - Monday of Week of 5/28/2018</h2></div>
    <div class="row">&nbsp;</div>
    <div class="row"><h3>Morning</h3></div>
    <div class="row">
        <div class="col-md-3">
            <h4>Absent - Unexcused</h4>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary">Excuse</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <h4>Add Log In</h4>
        </div>
        <div class="col-md-3">
            <div class="input-group clockpicker">
                <input type="text" class="form-control" value="">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
        <div class="col-md-3">
                <button class="btn btn-primary">Update Log</button>
        </div>
    </div>
    <div class="row">
        <hr />
    </div>
    <div class="row">
        <h3>Afternoon</h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h4>Late - Unexcused</h4>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary">Excuse</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h4>Logged In</h4>
        </div>
        <div class="col-md-3">
            <div class="input-group clockpicker">
                <input type="text" class="form-control" value="1:35pm">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h4>Logged Out</h4>
        </div>
        <div class="col-md-3">
            <div class="input-group clockpicker">
                <input type="text" class="form-control" value="4:12pm">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h4>Left Early - Unexcused</h4>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary">Excuse</button>
        </div>

