<!DOCTYPE html>
<html>
<head>

	<title>WAYFINDER - @ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	<style>
		html, body {
			height: 100%;
		}

		h1 {
			font-family: 'Arial', sans-serif;
			font-size: 100px;
			color: white;
		}

		.lead {
			color: white;
		}


		/* Custom container */
		.container-full {
			margin: 0 auto;
			width: 100%;
			min-height: 100%;
			background-color: #1f6ac1;
			color: #eee;
			overflow: hidden;
		}

			.container-full a {
				color: #efefef;
				text-decoration: none;
			}

		.v-center {
			margin-top: 7%;
		}
	</style>
	@RenderBody()
</head>
</html>
