@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "Error";
}

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
	<main>
		<div class="page-loader">
			<div class="loader">Loading...</div>
		</div>
		<section class="home-section home-parallax home-fade home-full-height bg-dark bg-dark-30" id="home" data-background="../../Content/Landing/CanoeBG.jpg">
			<div class="titan-caption">
				<div class="caption-content">
					<div class="font-alt mb-30 titan-title-size-4">Error 404</div>
					<div class="font-alt">
						Looks like this page got lost along the way!
					</div>
					<div class="font-alt mt-30"><a class="btn btn-border-w btn-round" href="@Url.Action("Home", "Landing")">Let's head back home</a></div>
				</div>
			</div>
		</section>
	</main>

