
@{
	ViewBag.Title = "Student Report";
}
<section class="bg-dark-30 showcase-page-header module parallax-bg">
	<div class="titan-caption">
		<div class="caption-content">
			<div class="font-alt mb-30 titan-title-size-1">Hello, Tamara</div>
			<div class="font-alt mb-40 titan-title-size-2">Here's how you're doing this month...</div>
		</div>
	</div>
</section>

<section class="module">
	<div class="container" style="color:white">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h4 class="font-alt mb-0">Week: June 4th, 2018</h4>
				<br>
				<h4 class="font-alt mb-0">This week's time in class...</h4>
				<br>
				<hr class="divider-w mt-10 mb-20">
				<h6 class="font-alt">
					<span class="icon-puzzle"></span> Monday
				</h6>
				<div class="progress">
					<div class="progress-bar pb-dark" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
				</div>
				<h6 class="font-alt">
					<span class="icon-puzzle"></span> Tuesday
				</h6>
				<div class="progress">
					<div class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
				</div>
				<h6 class="font-alt">
					<span class="icon-puzzle"></span> Wednesday
				</h6>
				<div class="progress">
					<div class="progress-bar pb-dark" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
				</div>
				<h6 class="font-alt">
					<span class="icon-puzzle"></span> Thursday
				</h6>
				<div class="progress">
					<div class="progress-bar pb-dark" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
				</div>
				<h6 class="font-alt">
					<span class="icon-puzzle"></span> Friday
				</h6>
				<div class="progress">
					<div class="progress-bar pb-dark" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Footer bar-->
<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-8 col-lg-12">
				<div class="callout-text font-alt">
					<p style="margin-bottom: 0px;" class="alignleft">2018 Team Powerpuff</p>
					<p style="margin-bottom: 0px;" class="alignright">Middle College High School</p>
				</div>
			</div>
		</div>
	</div>
</section>
