
@{
	ViewBag.Title = "Student Report";
}
<div class="container" style="max-width:1028px;">
	<img src="~/Content/wireframes/admin_student_report.png" class="img-responsive" alt="Create New Student">
</div>

<!-- Footer bar-->
<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-8 col-lg-12">
				<div class="callout-text font-alt">
					<p style="margin-bottom: 0px;" class="alignleft">2018 Team Powerpuff</p>
					<p style="margin-bottom: 0px;" class="alignright">Middle College High School</p>
				</div>
			</div>
		</div>
	</div>
</section>