
@{
	ViewBag.Title = "Student Home";
}
<!-- Welcome greeting w/ name-->
<section class="bg-dark-30 showcase-page-header module parallax-bg">
	<div class="titan-caption">
		<div class="caption-content">
			<div class="font-alt mb-30 titan-title-size-1">Hello, explorer:</div>
			<!-- UPDATE: add viewbag to grab student name-->
			<div class="font-alt mb-40 titan-title-size-4">Zadie</div>
			<a class="section-scroll btn btn-border-w btn-round" href="@Url.Action("StudentReport", "Student")">See your progress</a>
			<a class="section-scroll btn btn-border-w btn-round" href="@Url.Action("StudentEditProfile", "Student")">Update your profile</a>
		</div>
	</div>
</section>

<!-- Footer bar-->
<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-8 col-lg-12">
				<div class="callout-text font-alt">
					<p style="margin-bottom: 0px;" class="alignleft">2018 Team Powerpuff</p>
					<p style="margin-bottom: 0px;" class="alignright">Middle College High School</p>
				</div>
			</div>
		</div>
	</div>
</section>
