
@{
	ViewBag.Title = "Student Edit Profile";
}

<section class="bg-dark-30 showcase-page-header module parallax-bg">
	<div class="titan-caption">
		<div class="caption-content">
			<div class="font-alt mb-30 titan-title-size-1">Hello, Zadie</div>
			<div class="font-alt mb-40 titan-title-size-2">Let's edit your profile...</div>
		</div>
	</div>
</section>

<section class="module">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h4 class="font-alt mb-0">Your Profile</h4>
				<hr class="divider-w mt-10 mb-20">
				<form class="form" role="form">
					<div class="form-group">
						<input class="form-control input-lg" type="text" placeholder="Username" />
					</div>
					<div class="form-group">
						<input class="form-control input-lg" type="text" placeholder="Animal Avatar" />
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

	<!-- Footer bar-->
	<section class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-8 col-lg-12">
					<div class="callout-text font-alt">
						<p style="margin-bottom: 0px;" class="alignleft">2018 Team Powerpuff</p>
						<p style="margin-bottom: 0px;" class="alignright">Middle College High School</p>
					</div>
				</div>
			</div>
		</div>
	</section>
