
@{
	ViewBag.Title = "Student Home";
}
<!-- Welcome greeting w/ name-->
<div class="col-md-10 col-md-offset-1 RectangleWhite">
	<div class="row align-center">
		<img class="profileimg" src="~/Content/AvatarIcons/swan-icon.png" alt="SWAN">
	</div>

	<div class="row align-center">
		<div class="col-md-8 col-md-offset-2">
			<h2>Hello, Tamara</h2>
			<h3 class="features-title font-alt">Profile name: Tamara</h3>
			<h3 class="features-title font-alt">Animal guide: swan</h3>
			<br>
			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
					 aria-valuemin="0" aria-valuemax="100" style="width:40%">
				</div>
			</div>
			<p>40% toward Community Hours goal completion</p>
			<div class="alert alert-success" role="alert">
				<button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times;</button><i class="fa fa-diamond"></i><strong>Combo!</strong> You've arrived on time for 3+ consecutive days.
			</div>
			<a class="section-scroll btn btn-g btn-round" href="@Url.Action("StudentReport", "Profile")">See progress</a>
			<a class="section-scroll btn btn-g btn-round" href="@Url.Action("StudentEdit", "Profile")">Update profile</a>
		</div>
	</div>
</div>
