@{
	ViewBag.Title = "Home";
}

<!-- Landing page background and welcome text-->
<section class="bg-dark-30 showcase-page-header module parallax-bg" data-background="../../Content/Landing/CanoeBG.jpg">
	<div class="titan-caption">
		<div class="caption-content">
			<div class="font-alt mb-30 titan-title-size-1">Chart your course. We'll help you navigate.</div>
			<div class="font-alt mb-40 titan-title-size-4">Wayfinder</div><a class="section-scroll btn btn-border-w btn-round" href="#begin">Set Destination</a>
		</div>
	</div>

	<!-- Trio of options directing to login pages-->
	<section class="module-medium" id="begin" style="margin-top: 1000px;">
		<div class="container">
			<div class="row multi-columns-row align-center">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="card" style="width: 30rem;">
						<img class="card-img-top" src="~/Content/Landing/map.png" alt="Course Kiosk" style="width:300px;height:170px;">
						<div class="card-body">
							<h4 style="margin-top: 20px;">Course Kiosk</h4>
							<p class="card-text">Find yourself and unlock team paths by recording your time in class.</p>
							<a href="@Url.Action("Student_Dashboard", "Home")" class="btn btn-primary" style="margin-bottom: 50px;">Go somewhere</a>
						</div>
					</div>
				</div>
				<br>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="card" style="width: 30rem;">
						<img class="card-img-top" src="~/Content/Landing/pin.png" alt="Admin Portal" style="width:150px;height:150px;">
						<div class="card-body">
							<h4 style="margin-top: 20px;">Administrators</h4>
							<p class="card-text">Use our compass tools to map out where everyone is in their trek.</p>
							<a href="@Url.Action("Admin_Login", "Home")" class="btn btn-primary" style="margin-bottom: 50px;">Guide the way</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="card" style="width: 30rem;">
						<img class="card-img-top" src="~/Content/Landing/route.png" alt="Student Portal" style="width:150px;height:150px;">
						<div class="card-body">
							<h4 style="margin-top: 20px;">Students</h4>
							<p class="card-text">Observe where you began and where you are headed with your personal profile.</p>
							<a href="@Url.Action("StudentLogin", "Home")" class="btn btn-primary" style="margin-bottom: 50px;">See the journey</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer bar-->
	<section class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-8 col-lg-9">
					<div class="callout-text font-alt">
						<p style="margin-bottom: 0px;">2018 Team Powerpuff</p>
					</div>
				</div>
			</div>
		</div>
	</section>

