
@{
    ViewBag.Title = "Admin Reports";
}
<div class="container" style="max-width:1028px;">
    <img src="~/Content/wireframes/wk6-admin_metrics.png" alt="Admin Metrics">
</div>
<p></br><span style="background-color:yellow;">Above: Wireframe --- Below: Work In Progress</span></span></p>

<h2>Add mockup for admin reports here...</h2>

