
@{
    ViewBag.Title = "Admin Reports";
}
<div class="container" style="max-width:1028px;">
    <img src="~/Content/wireframes/wk6-admin_metrics.png" class="img-responsive" alt="Admin Metrics">
</div>
<p></br><span style="background-color:yellow;">Above: Wireframe --- Below: Work In Progress</span></span></p>

