@{
    ViewBag.Title = "Admin Login";
}

<div class="container">
    <div class="row" style="margin-top:5%;">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="">Admin Login</strong>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" jsf:rendered="true">
                        <div class="form-group">
                            <label for="pwd" class="col-sm-3 control-label">Password:</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="pwd" placeholder="Enter password" jsf:value="#{loginBean.password}">
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-default" jsf:action="#{loginBean.login()}" jsf:id="submit" jsf:actionlistener="#{loginBean.updateId}">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
