
@{
    ViewBag.Title = "Admin Edits";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/wireframes/wk6-Admin_Settings.png" class="img-responsive" alt="Admin Change Settings">
        </div>
    </div>
</div>
<p></br><span style="background-color:yellow;">Above: Wireframe --- Below: Work In Progress</span></span></p>
<h2>Add mockup for page showing things an Admin can update/customize...</h2>

