@{
    ViewBag.Title = "Student Dashboard";
}
<head>
    <style>

        #stud1 {
            background-color: #FF5353;
        }

        #stud3 {
            background-color: #FFB253;
        }

        #stud3 {
            background-color: #FFEA53;
        }

        #stud4 {
            background-color: #5378FF;
        }

        #stud5 {
            background-color: #9453FF;
        }

        #stud6 {
            background-color: #60EBAB; 
        }

        #stud7 {
            background-color: #FF5353;
        }
    </style>

</head>


<p>Main page is a student dashboard.</p>
<div class="row">
    <div class="col-md-3" id="stud1">
        student 1
    </div>
    <div class="col-md-3" id="stud2">
        student 2
    </div>
    <div class="col-md-3" id="stud3">
        student 3
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="container">
            student 1
            <div class="row">
                <div class="btn-group">
                    <button class="btn"><img src="~/Content/images/face1.png" alt="Most Sad"></button>
                    <button class="btn"><img src="~/Content/images/face2.png" alt="Some Sad"></button>
                    <button class="btn"><img src="~/Content/images/face3.png" alt="Not Sad Not Happy"></button>
                    <button class="btn"><img src="~/Content/images/face4.png" alt="Some Happy"></button>
                    <button class="btn"><img src="~/Content/images/face5.png" alt="Most Happy"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">Puzzle Goes Here</div>
</div>
<p>Wireframe:</p>
<img src="~/Content/wireframes/dashboard.png" alt="Student Dashboard">