@{
    ViewBag.Title = "Home Page";
}
<div class="container" style="max-width:1028px;">
    <img src="~/Content/wireframes/wk6-homeOrLandingPage.png" class="img-responsive" alt="Home Page">
</div>
<p></br><span style="background-color:yellow;">Above: Wireframe --- Below: Work In Progress</span></span></p>