
@{
    ViewBag.Title = "Student New";
}
<div class="container" style="max-width:1028px;">
    <img src="~/Content/wireframes/wk6-add_Student.png" class="img-responsive" alt="Create New Student">
</div>
<p></br><span style="background-color:yellow;">Above: Wireframe --- Below: Work In Progress</span></span></p>

<h2><h2>Add mockup for student profile creation here...</h2></h2>

