
@{
    ViewBag.Title = "Student Report";
}
<div class="container" style="max-width:1028px;">
    <img src="~/Content/wireframes/admin_student_report.png" class="img-responsive" alt="Create New Student">
</div>

