
@{
    ViewBag.Title = "Puzzle";
}
<div class="container" style="max-width:1028px;">
    <img src="~/Content/wireframes/wk6-puzzle.png" class="img-responsive" alt="Puzzle">
</div>
<p></br><span style="background-color:yellow;">Above: Wireframe --- Below: Work In Progress</span></span></p>

