
@{
	ViewBag.Title = "Puzzle";
}

<div style="position: relative; left: 0; top: 0;">
	<style>
		/* Centered text */
		.centered {
			position: absolute;
			top: 25%;
			left: 50%;
			transform: translate(-50%, -50%);
			color:white;
		}

		.bottom-img {
			position: relative;
			top: 0;
			left: 0;
		}

		.ontop {
			position: absolute;
			top: 560px;
			left: 580px;
		}
	</style>
	<img src="~/Content/wireframes/wk6-puzzle.png" style="width:100%;height: 100%;" class="bottom-img" />
	<img src="~/Content/Landing/pin.png" class="ontop" style="height:100px"/> 
	<h2 class="module-title font-alt centered">You are here!</h2>
</div>

<!-- Footer bar-->
<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-8 col-lg-12">
				<div class="callout-text font-alt">
					<p style="margin-bottom: 0px;" class="alignleft">2018 Team Powerpuff</p>
					<p style="margin-bottom: 0px;" class="alignright">Middle College High School</p>
				</div>
			</div>
		</div>
	</div>
</section>