
@{
	ViewBag.Title = "Student New";
}

<div class="col-md-12">
	<div class="col-md-4 Rectangle-5">
		<div class="text-register">Profile</div>
		<hr class="divider-w mb-10">
		<form class="form">
			<div class="form-group">
				<label for="avatar" class="font-alt">Avatar choice:</label>
				<select class="form-control" id="avatar">
					<option>Cat</option>
					<option>Dog</option>
					<option>Elephant</option>
					<option>Fox</option>
					<option>Frog</option>
					<option>Penguin</option>
					<option>Rabbit</option>
					<option>Squirrel</option>
					<option>Swan</option>
				</select>
			</div>
			<div class="form-group">
				<input class="form-control" id="studentId" type="text" name="studentId" placeholder="Student ID" />
			</div>
			<div class="form-group">
				<input class="form-control" id="username" type="text" name="username" placeholder="Username" />
			</div>
			<div class="form-group">
				<input class="form-control" id="password" type="password" name="password" placeholder="Password" />
			</div>
			<div class="form-group">
				<input class="form-control" id="re-password" type="password" name="re-password" placeholder="Re-enter Password" />
			</div>
			<div class="form-group">
				<a href="@Url.Action("StudentDashboard", "Kiosk")#kiosk"><button class="btn Rectangle" type="button" >Register</button></a>
			</div>
		</form>
	</div>
</div>


