@{
	ViewBag.Title = "Student Dashboard";
}
<!-- JQuery and JavaScript-->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/studentDashboard")

<!-- Add custom css-->>
<link href="@Url.Content("~/Content/StudentDashBoard.css")" rel="stylesheet" type="text/css">

<div class="container">
    <div class="row student-card-row">
        <div class="col-mid-2 col-md-offset-5"><h2>Please Sign In</h2><br></div>
        <div class="col-md-4 check-in">
            <div id="stu1" class="student-card" style="background-color: #871518">
                <img src="~/Content/AvatarIcons/cat-icon.png" class="img-circle" alt="Student Avatar" height="75" width="75">
                <span>Nancy Thompson</span>
            </div>
        </div>
        <div class="col-md-4 check-in">
            <div id="stu2" class="student-card" style="background-color: #FAAC38">
                <img src="~/Content/AvatarIcons/dog-icon.png" class="img-circle" alt="Student Avatar" height="75" width="75">
                <span>Alvin Hopkins</span>
            </div>
        </div>
        <div class="col-md-4 check-in">
            <div id="stu3" class="student-card" style="background-color: #001640">
                <img src="~/Content/AvatarIcons/elephant-icon.png" class="img-circle" alt="Student Avatar" height="75" width="75">
                <span>Mina Clark</span>
            </div>
        </div>
        <div class="col-md-4 check-in">
            <div id="stu4" class="student-card" style="background-color: #193F4C">
                <img src="~/Content/AvatarIcons/fox-icon.png" class="img-circle" alt="Student Avatar" height="75" width="75">
                <span>Verna Potter</span>
            </div>
        </div>
        <div class="col-md-4 check-in">
            <div id="stu5" class="student-card" style="background-color: #FF590F">
                <img src="~/Content/AvatarIcons/frog-icon.png" class="img-circle" alt="Student Avatar" height="75" width="75">
                <span>Gabriel Klein</span>
            </div>
        </div>
        <div class="col-md-4 check-in">
            <div id="stu6" class="student-card" style="background-color: #006F7A">
                <img src="~/Content/AvatarIcons/rabbit-icon.png" class="img-circle" alt="Student Avatar" height="75" width="75">
                <span>Seth Berry</span>
            </div>
        </div>
        <div class="col-md-4 check-in">
            <div id="stu7" class="student-card" style="background-color: #990066">
                <img src="~/Content/AvatarIcons/swan-icon.png" class="img-circle" alt="Student Avatar" height="75" width="75">
                <span>Tamara Kochubey</span>
            </div>
        </div>
        <div class="col-md-4 check-in">
            <div id="stu8" class="student-card" style="background-color: #003366">
                <img src="~/Content/AvatarIcons/squirrel-icon.png" class="img-circle" alt="Student Avatar" height="75" width="75">
                <span>Harry Reid</span>
            </div>
        </div>
        <div class="col-md-4">
            <a href="~/Kiosk/StudentNew">
            <div class="student-card-add" style="height:90px">
                <span class="glyphicon-plus">  Add Student</span>
            </div>
            </a>
        </div>
    </div>

    <!-- JQuery Pop-up -->
    <div class="row check-in-row">
        <div class="col-md-6 check-in-popup">
            <div class="check-in-box" style="height:300px">
                <div class="row student-card-info">
					<button class="btn btn-default btn-circle" type="submit">Details</button>
                </div>
                <div class="row">
                    <div class="col-md-12 emoticon">
                        <h3>How are you doing today?</h3><br>
                        <a href="javascript:checkedIn()"><img src="~/Content/images/face1.png" alt="Sad"></a>
                        <a href="javascript:checkedIn()"><img src="~/Content/images/face2.png" alt="Somewhat Sad"></a>
                        <a href="javascript:checkedIn()"><img src="~/Content/images/face3.png" alt="Okay"></a>
                        <a href="javascript:checkedIn()"><img src="~/Content/images/face4.png" alt="Somewhat Happy"></a>
                        <a href="javascript:checkedIn()"><img src="~/Content/images/face5.png" alt="Happy"></a><br><br>
                        <p>Select an emoticon to sign in</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="puzzle-box" style="height:300px">
                <h3><span> Puzzle Preview </span></h3>
            </div>
        </div>
    </div>
</div>


<!-- Footer bar-->
<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-8 col-lg-12">
				<div class="callout-text font-alt">
					<p style="margin-bottom: 0px;" class="alignleft">2018 Team Powerpuff</p>
					<p style="margin-bottom: 0px;" class="alignright">Middle College High School</p>
				</div>
			</div>
		</div>
	</div>
</section>